<ion-content>
    <ion-grid class="account" *ngIf="challengeCounter$ | async as challengeCounter">
        <ion-row class="profile ion-align-items-center center">
            <ion-col>
                <ion-icon name="person-outline"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row class="score center">
            <ion-col>
                <span>{{ challengeCounter.calculateScore() }}</span>
            </ion-col>
        </ion-row>
        <ion-row class="multiplier center">
            <ion-col>
                <span>{{ challengeCounter.completedWeeklyChallenge }}</span>
            </ion-col>
            <ion-col size="1">
                <span class="cross"></span>
            </ion-col>
            <ion-col>
                Bild
            </ion-col>
        </ion-row>
        <ion-row class="categories">
            <ion-col class="category consume ion-align-self-start">
                <ion-img [src]="categories[0].imagePath"></ion-img>
                <span class="counter">{{ challengeCounter.completedConsumeChallengeCount }}</span>
            </ion-col>
            <ion-col class="category diet ion-align-self-start">
                <ion-img [src]="categories[1].imagePath"></ion-img>
                <span class="counter">{{ challengeCounter.completedDietChallengeCount }}</span>
            </ion-col>
        </ion-row>
        <ion-row class="categories">
            <ion-col class="category mobility ion-align-self-start">
                <ion-img [src]="categories[2].imagePath"></ion-img>
                <span class="counter">{{ challengeCounter.completedMobilityChallengeCount }}</span>
            </ion-col>
            <ion-col class="category household ion-align-self-start">
                <ion-img [src]="categories[3].imagePath"></ion-img>
                <span class="counter">{{ challengeCounter.completedHouseholdChallengeCount }}</span>
            </ion-col>
        </ion-row>
        <ion-row class="categories">
            <ion-col class="category knowledge ion-align-self-start">
                <ion-img [src]="categories[4].imagePath"></ion-img>
                <span class="counter">{{ challengeCounter.completedKnowledgeChallengeCount }}</span>
            </ion-col>
            <ion-col class="category empty ion-align-self-start"> </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
