.consume {
    --current-color: var(--consume-color);
}
.diet {
    --current-color: var(--diet-color);
}
.mobility {
    --current-color: var(--mobility-color);
}
.household {
    --current-color: var(--household-color);
}
.knowledge {
    --current-color: var(--knowledge-color);
}

ion-card {
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;

    #abstract {
        border-bottom-left-radius: 21vw;
        border-bottom-right-radius: 21vw;
        background-color: rgba(var(--current-color), 0.6);
        padding-bottom: 15vh;
        max-height: 60vh;
        box-shadow: 0px 2px 6px 2px rgba(163, 163, 163, 0.8);

        ion-card-title {
            padding: 10px 0;
            text-align: center;
            background-color: rgb(var(--current-color));
            border-bottom-left-radius: 8vw;
            border-bottom-right-radius: 8vw;
            box-shadow: 0px 2px 6px 2px rgba(135, 135, 135, 0.8);
            padding-top: 2vh;
        }

        ion-card-content {
            #challenge_category_img {
                opacity: 25%;
            }

            #description_col {
                display: flex;
                justify-content: center;
                align-items: center;

                #description {
                    text-align: center;
                    font-weight: bold;
                    font-size: 1rem;
                    margin: auto;
                }
            }
        }
    }

    #hint_selection_container {
        width: 58vw;
        margin: 0px 21vw;
        display: flex;
        justify-content: space-evenly;
        position: relative;
        top: -4vw;

        .hintSelector {
            width: 8vw;
            height: 8vw;
            margin: 0px 0px;
            border-radius: 50%;
            background-color: #eee;
            box-shadow: 0px 1px 5px 2px rgba(135, 135, 135, 0.5);
            outline: none;
        }

        .hintSelector.selected {
            background-color: rgb(var(--current-color));
            border-color: #666;
            border-width: 1px;
            border-style: solid;
        }
    }

    .hintSlides {
        min-height: 40vh;
        display: block;

        .hintField {
            padding: 2vh 10vw;
        }
    }
}
