<ion-card color="primary" [class]="(challenge?.categoryId | transformToCategory)?.name">
    <div id="abstract">
        <ion-card-title>{{ challenge?.title }}</ion-card-title>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="5">
                        <ion-img
                            id="challenge_category_img"
                            [src]="(challenge?.categoryId | transformToCategory)?.imagePath"
                        ></ion-img>
                    </ion-col>
                    <ion-col id="description_col">
                        <p id="description">{{ challenge?.shortDescription }}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </div>
    <div id="hint_selection_container">
        <button
            *ngFor="let hint of challenge?.hints; let i = index"
            class="hintSelector {{ i == selectedHintTab ? 'selected' : '' }}"
            (click)="selectHintTab(i)"
        ></button>
    </div>
    <ion-slides #hintSlides class="hintSlides" [options]="slideHintFieldsOpts" (ionSlideDidChange)="swipeHint()">
        <ion-slide *ngFor="let hint of challenge?.hints" class="hintField" [innerHtml]="hint"> </ion-slide>
    </ion-slides>
</ion-card>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button id="done_button" color="success" (click)="finish()"
        >Done
        <ion-icon name="done"></ion-icon>
    </ion-fab-button>
</ion-fab>
