<ion-content>
    <div *appIsloading="viewModel$ | async as viewModel" class="center">
        <div *appIsloading="!viewModel.state" class="center">
            <span [ngSwitch]="viewModel.state">
                <app-teaser
                    *ngSwitchCase="weeklyState.teaser"
                    [challenge]="viewModel.current"
                    [startDate]="viewModel.startDate"
                ></app-teaser>
                <app-active
                    *ngSwitchCase="weeklyState.active"
                    [challenge]="viewModel.current"
                    [startDate]="viewModel.startDate"
                ></app-active>
                <app-complete *ngSwitchCase="weeklyState.complete"></app-complete>
                <ion-spinner *ngSwitchDefault name="bubbles" class="center"></ion-spinner>
            </span>
        </div>
    </div>
</ion-content>
