<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="info">{{ info.title }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="info">
    <ion-card-header>
        <ion-card-title>{{ info.title }}</ion-card-title>
        <ion-card-subtitle>{{ info.shortDescription }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content> {{ info.text }} </ion-card-content>
</ion-content>
