<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="challenge">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <ion-label>Challenge</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="weekly">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label>Weekly</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="account">
            <ion-icon name="person-circle-outline"></ion-icon>
            <ion-label>Account</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
