<ion-content>
    <div *appIsloading="viewModel$ | async as viewModel" class="center">
        <div *appIsloading="!viewModel.isLoading" class="center">
            <span [ngSwitch]="viewModel.state">
                <app-selected
                    *ngSwitchCase="enumValues.selected"
                    [challenge]="viewModel.current"
                    [startDate]="viewModel.startDate"
                ></app-selected>
                <app-choice
                    *ngSwitchCase="enumValues.choice"
                    [choices]="viewModel.current"
                    [startDate]="viewModel.startDate"
                ></app-choice>
                <app-complete *ngSwitchCase="enumValues.complete" [nextChoice]="viewModel.current"></app-complete>
                <ion-spinner *ngSwitchDefault name="bubbles" class="center"></ion-spinner>
            </span>
        </div>
    </div>
</ion-content>
