ion-grid {
    height: 100%;
}

ion-row {
    height: 50%;
}

ion-card {
    margin: 5px 0 0 0;
    width: 100%;
    align-items: center;
    display: grid;
    transition: all 1s ease;

    ion-card-content {
        height: 100%;
        align-items: center;
        display: grid;

        ion-row {
            height: 100%;

            ion-col {
                height: 100%;
                display: grid;
                align-items: center;

                ion-card-title {
                    text-align: center;
                    font-size: xx-large;
                    opacity: 0.6;
                }
                ion-card-subtitle {
                    text-align: center;
                    font-size: medium;
                    opacity: 0.6;
                }
                ion-img {
                    opacity: 0.1;
                    margin-top: 8em;
                    margin-left: 25px;
                    transform: scale(2);
                    max-width: 100px;
                }
            }
        }
    }
}

.blink {
    animation: blinker 0.8s infinite alternate;
    animation-delay: 1s;
}
@keyframes blinker {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 0.9;
    }
}

.consume {
    background: linear-gradient(to right, rgb(var(--consume-color)) 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
}

.diet {
    background: linear-gradient(to right, rgb(var(--diet-color)) 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
}
.mobility {
    background: linear-gradient(to right, rgb(var(--mobility-color)) 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
}

.household {
    background: linear-gradient(to right, rgb(var(--household-color)) 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
}

.knowledge {
    background: linear-gradient(to right, rgb(var(--knowledge-color)) 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
}

.selected {
    background-position: right bottom;
}
