<ion-grid>
    <ion-row *ngFor="let choice of choices">
        <ion-card
            [ngClass]="{ selected: choice.id == selectedChallenge.id }"
            [class]="(choice.categoryId | transformToCategory)?.name"
            (click)="select(choice)"
        >
            <ion-card-content>
                <ion-row>
                    <ion-col size="4" class="ion-align-self-start">
                        <ion-img
                            [ngClass]="{ blink: choice.id == selectedChallenge.id }"
                            [src]="(choice.categoryId | transformToCategory)?.imagePath"
                        ></ion-img>
                    </ion-col>
                    <ion-col size="1">
                        <!-- I'm here for spacing -->
                    </ion-col>
                    <ion-col size="7" class="ion-align-self-center">
                        <ion-card-title>{{ choice.title }}</ion-card-title>
                        <ion-card-subtitle *ngIf="choice.id == selectedChallenge.id">{{
                            choice.shortDescription
                        }}</ion-card-subtitle>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-row>
</ion-grid>
