<ion-content>
    <ion-card>
        <ion-img src="/assets/images/Icon02a_Completed.svg" class="completeImg"> </ion-img>
        <ion-card-title> Tägliches Ziel Erreicht! </ion-card-title>
    </ion-card>
</ion-content>
