ion-img {
    animation-name: popup;
    animation-duration: 3s;
    scale: 0.6;
}

ion-card {
    margin: 0;
    width: 100%;
    height: 100%;
    animation: backgroundSwitch 3s;
    background: linear-gradient(to bottom, rgb(var(--complete-color)) 55%, white 45%);
    background-size: 100% 200%;
    background-position: center top;
    transition: all 1s ease;
}

ion-card-title {
    text-align: center;
    position: bottom;
    animation: popup 3s, pulse 1.5s;
    animation-delay: 0s, 2s;
    animation-iteration-count: 1, infinite;
    animation-direction: normal, alternate;
}

@keyframes backgroundSwitch {
    0% {
        background-position: bottom right;
    }
    30% {
        background-position: bottom right;
    }
    70% {
        background-position: center center;
    }
    80% {
        background-position: center center;
    }
    100% {
        background-position: top right;
    }
}

@keyframes popup {
    0% {
        opacity: 0;
        scale: 0;
    }
    40% {
        scale: 0;
    }
    80% {
        scale: 0.6;
        opacity: 0.6;
    }
}
@keyframes pulse {
    from {
        scale: 0.6;
    }
    to {
        scale: 1;
    }
}
